* {
	font-family: Segoe UI, Verdana, Arial, sans-serif;
}

body {
	background-color: #fff;
}

.navbar {
	padding: 0.25rem 1rem;
}

.navbar-nav {
	flex-direction: row;
}

.navbar-right {
	justify-content: flex-end;
}

.search-option {
	padding: 0.1875rem 1.5rem 0.1875rem 0.9375rem;
}

.search-header {
	font-weight: 700;
	padding: 0.1875rem 1.5rem 0.1875rem 0.5625rem;
}

.search-header:hover, .search-header:active {
	background-color: #fff!important;
}

.search-option:active {
	background-color: #ddd;
}

ul#srch-type-menu, button#dropdown-menu-button {
	font-size: 0.6875rem;
	color: rgba(0, 0, 0, 0.5);
	background-color: #eee;
	padding-top: 0px;
}

button#dropdown-menu-button {
	padding-top: 0.1875rem;
	padding-bottom: 0.1875rem;
	font-size: 0.9375rem;
	background-color: #fff;
	border-color: #fff;
	border-radius: 0px;
}

button#dropdown-menu-button:focus {
	box-shadow: none;
}

ul#srch-type-menu {
	background-color: #fff;
	padding-top: 0.1875rem;
	padding-bottom: 0.375rem;
	transform: translateY(-2px);
}

input#srch-term {
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	height: 1.875rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	padding-left: 0.25rem;
	font-size: 0.9375rem;
}

button#srch-btn {
	font-size: 0.78125rem;
	padding: 0.375rem 0.59375rem;
	background-color: #c0c0c0;
	border: 1px solid #a9a9a9;
	border-left-color: #c0c0c0;
	border-radius: 0px;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	transform: translateX(-2rem);
}

div#search-bar {
	border: 1px solid #a9a9a9;
	border-right-color: #c0c0c0;
	border-radius: 0.25rem 0 0 0.25rem;
	transform: translateX(-2rem);
}

div.submenu_ext {
	overflow-y: hidden;
	max-height: 1.5rem;
	transition-property: all;
	transition-duration: .04s; /* what a bitch */
	transition-timing-function: cubic-bezier(0, 1, 1, 1);

	background-color: #e9ecef;
	color: #89838c;
	width: 100%;
	border-bottom: 1px solid #cacdd0;
}

div.submenu {
	float: right;
	margin-right: 1rem;
	padding: 0.1875rem;
	font-size: 12px;
}

div.submenu > a {
	text-decoration: none;
	color: inherit;
	padding: 0.125rem;
}

div.submenu_ext.closed {
	max-height: 0;
}
