div#frontcontentheader {
	max-height: 30rem;
	min-height: 30rem;
	display: flex;
}

div#frontcontentheader a {
	text-decoration: none;
	color: #212529;
}

div#frontcontentheader div.container {
	height: 100%;
}

div#frontcontentheader div.container div.row {
	text-align: center;
	height: 100%;
}

div#frontcontentheader div.container div.row div.col-md-6 {
	display: inline-block;
	text-align: left;
}

div#frontcontentheader img {
	display: inline-block;
	height: 125%;
	width: auto;
}

div#welcome {
	margin-top: 5rem;
	font-size: 1.25rem;
}

div#welcome h1 {
	font-size: 3.25rem;
}

div.frontcol {
	display: none;
	margin-bottom: 10rem;
}

div.frontcol.active {
	display: block;
}

div.container:has(div.colheader) {
	margin-right: 0;
}

div.colheader {
	width: 100%;
	display: table;
}

button.colbtn {
	width: 100%;
	border-radius: 0;
	display: table-cell;
}

div.frontcol {
	background-color: #f0f1f2;
}

div.frontreviewhead {
	background-color: #e9ecef;
	padding: 1.5rem;
}

div.frontreviewhead a {
	color: #01a;
}

div.frontreview {
	display: table;
}

div.frontreviewbody {
	padding: 1.5rem;
	font-size: 14px;
}

div.reviewheadart {
	text-align: right;
}

div.reviewheadart img {
	display: inline-block;
}

div.bottom-aligner {
	display: inline-block;
	height: 30%;
	vertical-align: bottom;
	width: 0px;
}

div.newrelease > tr {
	display: table-cell;
	vertical-align: middle;
}

div.newrelease {
	font-size: 0.75rem;
}

.delayloadimg {
	padding: .5rem;
}

div#newreleases a {
	color: #01a;
}

div#newreleases div.sep {
	height: 0.5rem;
	background-color: #fff;
}

div.reviews#container img {
	width: 300px;
	height: auto;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
